<!DOCTYPE html>
<html>

<head>
    <title>CSS3DComponent tests</title>
    <script src="../../../../../lib/require.js"></script>
    <script src="../../../../../lib/goo.js"></script>
    <script src="../../../../lib/vtest.js"></script>
    <script src="CSS3DComponent-vtest.js"></script>
    <style>
    #goo {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
    }
    .object {
        border: 1px solid black;
        background-color: green;
        padding: 20px;
    }
    </style>
</head>

<body>
</body>
</html>
