<!DOCTYPE html>
<html>

<head>
    <title>Dom3dComponent test</title>
    <style>
    #goo {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
    }
    </style>
</head>
<body>
    <script src="../../../../../lib/goo.js"></script>
    <script src="../../../../../lib/timelinepack.js"></script>
    <script src="../../../../../lib/scriptpack.js"></script>
    <script src="../../../../../lib/gizmopack.js"></script>
    <script src="../../../../../lib/passpack.js"></script>
    <script src="../../../../../lib/fsmpack.js"></script>
    <script src="../../../../../lib/quadpack.js"></script>
    <script src="../../../../../lib/animationpack.js"></script>
    <script src="../../../../lib/RNG.js"></script>
    <script src="../../../../lib/purl.js"></script>
    <script src="../../../../lib/V.js"></script>
    <script src="../../../../lib/vtest.js"></script>
    <script src="Dom3dComponent-vtest.js"></script>
</body>
</html>
