body {
	background: black;
	font-family: Helvetica;
}

#goo {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	text-transform: uppercase;
}

div#loadingOverlay {
	margin: auto;
	font-family: sans-serif;
	width: 400px;
	height: 400px;
	text-align: center;
	position: absolute;
	bottom: 0px; top: 0px;
	right: 0px; left: 0px;
}

div#loadingMessage h2{
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
}

div#progressBar {
	width:400px;
	margin:auto;
	background:#555;
	height:2px;
}

div#progress {
	background: white;
	height:100%;
	width:0;
	box-shadow: 0px 0px 4px rgba(255,255,255,1);
}

div#shareButtons {
	position: absolute;
	right:15px;
	bottom: 10px;
	z-index: 1;
}

#debugcanvas
{
    position : absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    image-rendering: optimizeSpeed;
    image-rendering: optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    transform : scaley(-1);
    -moz-transform: scaley(-1);
    -webkit-transform: scaley(-1);
    padding : 0;
    opacity: 0.7;
}