<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: <?js= title ?></title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <script src="scripts/jquery/jquery-1.9.1.min.js"> </script>
    <script src="scripts/jquery/jquery.jstree.js"> </script>
    <script src="scripts/setupTree.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
    <link type="text/css" rel="stylesheet" href="styles/jstree/style.css">

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-47873811-1']);
        _gaq.push(['_trackPageview']);

        (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    
    <!--
    <script type="text/javascript">

        var filledImgSrc = "images/star_filled.png";
        var unfilledImgSrc = "images/star_unfilled.png";

        var paintStars = function(rating, filled) {
            $.each($(".rating-button"), function() {
                if (this.id <= rating && filled) {
                    this.src = filledImgSrc;
                } else {
                    this.src = unfilledImgSrc;
                }
            });
        };

        var removeInteraction = function() {
            $.each($(".rating-button"), function() {
                this.onmouseover = this.onmouseout = this.onclick = null;
            });
        };

        var recordInput = function(rating) {
            _gaq.push(['_setCustomVar', 1, 'Rating', rating, 3]);
        };

        var recordComment = function(comment) {
            _gaq.push(['_setCustomVar', 1, 'Comment', comment, 3]);
        };

        var setupInteraction = function() {
            $.each($(".rating-button"), function() {
                this.onmouseover = function() {
                    paintStars(this.id, true);
                }
                this.onmouseout = function() {
                    paintStars(this.id, false);
                }
                this.onclick = function() {
                    recordInput(this.id);
                    removeInteraction();
                    $("#rating-message").get(0).innerHTML = "Thanks! Do you want to add a comment?";
                    $(".rating-comment").show();
                }
            });

        };

        $(document).ready(function() {
            setupInteraction();
            $(".rating-comment").hide();
            console.log('button', $("#rating-comment-button"));
            $("#rating-comment-button").get(0).onclick = function() {
                var comment = $("#rating-comment-field").val();
                if (comment.length > 0) {
                    recordComment(comment);
                    $(".rating-comment").hide();
                    $("#rating-message").get(0).innerHTML = "Thanks again!";
                }
            };
        });

    </script>
    -->

</head>

<body>

<nav>
    <?js= this.nav ?>
</nav>

<div id="main">

    <!--
    <div class="rating">
        <div id="rating-message">
                We're improving our documentation! How helpful did you find this page?
        </div>
        <div id="rating-stars">
                <input type="image" src="images/star_unfilled.png" class="rating-button" id="1"></button>
                <input type="image" src="images/star_unfilled.png" class="rating-button" id="2"></button>
                <input type="image" src="images/star_unfilled.png" class="rating-button" id="3"></button>
                <input type="image" src="images/star_unfilled.png" class="rating-button" id="4"></button>
                <input type="image" src="images/star_unfilled.png" class="rating-button" id="5"></button>
        </div>
        <div class="rating-comment">
            <input type="text" id="rating-comment-field" size="32" />
            <button type="button" id="rating-comment-button">Comment</button>
        </div>
    </div>
    -->

    <h1 class="page-title"><?js= title ?></h1>

    <?js= content ?>

</div>


<br clear="both">

<footer>
    Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc</a> on <?js= (new Date()) ?>
</footer>
<script> prettyPrint(); </script>
</body>
</html>
