<?js
	var data = obj; 
	var desc;
	if(data.description && data.description.length > 40 && data.summary) {
			desc = data.summary;
	} else {
		desc = data.description || '';
	}
?>
<tr>
	<td><?js= data.attribs + data.signature.replace(' :','') ?></td>
	<td><a class="summaryLink" href="#<?js= id ?>"><?js= name ?></a><br />
		<span class="description"><?js= desc ?></td>
	</td>
</tr>