<?js
	var data = obj;
	var self = this;
	if(data.description && data.description.length > 40 && data.summary) {
		desc = data.summary;
	} else {
		desc = data.description || '';
	}
	var sigidx = data.signature.indexOf('<span class="type-signature');
	var sig = data.signature.slice(0,sigidx);
?>
<tr>
	<td>
	<?js= data.attribs ?>
	<?js 
		if (data.returns && returns.length) { 
			returns.forEach(function(r, i) {
				if(r.type && r.type.names) {
					if(i !== 0) { ?>, <?js } ?>
					<?js= self.partial('type.tmpl', r.type.names) ?><?js
				}
			});
		}
	?></td>
	<td><a class="summaryLink" href="#<?js= id ?>"><?js= name ?></a> <?js= sig ?><br />
	<span class="description"><?js= desc ?></td>
	</td>
</tr>