<?js
  var data = obj;
    var self = this;
    var postName = ''
    function linkName(name) {
      var matchArray = name.match(/^(.*)(\[\]+)$/);
      var matchFunc = name.match(/^function\((.*)\)$/);
      if(matchArray) {
        return linkName(matchArray[1])+matchArray[2];
      }
      else if(matchFunc && matchFunc.length) {
        var m = matchFunc[1].replace(/\s+/g,'');
        var names = m.split(',');
        var links = [];
        names.forEach(function(name, i) {
          links.push(linkName(name));
        });
        return 'function('+links.join(', ')+')';
      }
      else {
        return self.linkto(name, self.htmlsafe(name));
      }
    }

    data.forEach(function(name, i) {

    ?>
<span class="param-type"><?js= linkName(name) ?></span>
<?js if (i < data.length-1) { ?>|<?js } ?>
<?js }); ?>