/******************************************************************************
OVERIDES & GLOBALS
******************************************************************************/

body {
	height: 100%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #9f9f9f;
	background-color: #262626;
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #292929; }
::-webkit-scrollbar-thumb { background-color: #555555; }
nav::-webkit-scrollbar-track { background: #343434; }

button {
	border-radius: 3px;
	border-style: none;
	background-color: hsl(200, 50%, 20%);
	font-size: x-small;
	padding: 4px 16px;
}

input {
	width: 90%;
	padding: 10px;
	background-color: transparent;
	color: #9f9f9f;
	border: 1px solid #555555;
	border-radius: 3px;
}

input:hover, input:focus, input:active {
	border-color: #38b3f6;
	outline: none;
}

::-webkit-input-placeholder { color: #555555; }
:-ms-input-placeholder { color: #555555; }

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-ms-input-placeholder { color: transparent; }

a {
	color: #9f9f9f;
	text-decoration: none;
}

a:hover, a:active { color: #38b3f6; }

/******************************************************************************
TYPOGRAPHY
******************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(http://weloveiconfonts.com/api/?family=entypo);

.icon-warning:before {
    content: "\e600";
}

h1 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

h2 {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

.mono { font-family: "Consolas", "Inconsolata", "Ubuntu Mono", monospace, sans-serif; }

.roboto { font-family: 'Roboto', sans-serif; }

/******************************************************************************
ICOMOON
******************************************************************************/

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?7hclkz');
	src:url('fonts/icomoon.eot?#iefix7hclkz') format('embedded-opentype'),
		url('fonts/icomoon.woff?7hclkz') format('woff'),
		url('fonts/icomoon.ttf?7hclkz') format('truetype'),
		url('fonts/icomoon.svg?7hclkz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-warning:before {
	content: "\e600";
	padding-right: 5px;
	color: #f76162;
}

.icon-warning-yellow:before {
    content: "\e600";
    color: #c8c651;
}

/******************************************************************************
SIDEBAR
******************************************************************************/

nav {
	position: fixed;
	width: 250px;
	height: 100%;
	padding: 50px;
	padding-bottom: 60px;
	background: #292929;
	overflow-y: auto;
}

nav section { margin-bottom: 40px; }

a.link {
	display: block;
	margin-top: -15px;
	color: #38b3f6;
}

a.link:hover, a.link:active { color: #81cff9; }

.index-container { padding-bottom: 90px; }

.active a {
	color: #EEEEEE;
	padding-left: 10px;
}

.active {
	background-color: #333333;
}

.item {
	padding: 5px 5px 5px 0;
	margin-bottom: 5px;
}

.top-dir {
	color: #38b3f6;
	padding: 5px 5px 5px 0;
	margin-top: 15px;
	margin-bottom: 5px;
	font-weight: 400;
	text-transform: uppercase;
}

.to-top {
	color: #91cf4b;
	font-weight: 400;
}

.summary-dir {
	display: block;
}

/******************************************************************************
MAIN
******************************************************************************/

iframe.class-panel {
	position: relative;
	left: 350px;
	width: 1024px;
	height: 768px;
	border: none;
}

article {
	max-width: 800px;
	margin-left: 16px;
	padding: 50px;
	font-family: "Consolas", "Inconsolata", "Ubuntu Mono", monospace, sans-serif;
	line-height: 1.4em;
}

section { margin-bottom: 50px; }

div { margin-bottom: 15px; }

ul {
	padding: 0;
	list-style-type: none;
}

li {
	margin-bottom: 10px;
	line-height: 1.4em;
}

.header { margin-bottom: 50px; }

.class-description {
    margin-top: 15px;
}

.bottom-30 {
    margin-bottom: 30px;
}

.path {
	display: block;
	margin-top: -5px;
}

.description {
	display: block;
	margin: 4px 0 16px 0;
	font-family: 'Roboto', sans-serif;
}

.parameter-description {
	color: #777777;
	font-family: 'Roboto', sans-serif;
}

.parameter-doc { margin-left: 20px; }

.parameter-doc:last-child { margin-bottom: 50px; }

.deprecated-description {
	display: block;
	padding: 20px;
	margin: 10px 0 20px 0;
	font-family: 'Roboto', sans-serif;
	line-height: 1.6em;
	color: #777777;
	background: #303030;
	border-radius: 3px;
}

/******************************************************************************
CODE EXAMPLES
******************************************************************************/

pre {
	margin: 0;
	margin-bottom: 30px;
}

.hljs {
	padding: 20px;
	line-height: 1.6em;
	word-break: break-word;
	color: #9f9f9f;
	background: #303030;
	border-radius: 3px;
}

/******************************************************************************
SYNTAX & COLORS
******************************************************************************/

.goo-rainbow {
	color: #38b3f6;
	color: #6c9eed;
	color: #8a8eea;
	color: #cc76a4;
	color: #f76162;
	color: #fb905c;
	color: #ffbe55;
	color: #c8c651;
	color: #91cf4b;
}

.readonly { color: #91cf4b; }

.extends {
	color: #555555;
	font-weight: 100;
}

.extends a { color: #555555; }

.extends a:hover { color: #38b3f6; }

.method, .static {margin-bottom: 60px; }

.method-name { color: #f76162; }

.static-name { color: #ffbe55; }

.parameter { color: #91cf4b; }

.parameter-name { color: #91cf4b; }

.parameter-type { color: #ffbe55; }

.parameter-type a { color: #ffbe55 !important; }

.parameter-optional { color: #8a8eea; }

.parameter-default { color: #38b3f6; }