<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Goo Engine Documentation</title>
	<link href='//fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="lib/styles/goo.css">
	<link rel="stylesheet" href="style.css">
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-55739361-8', 'auto', {
			'allowLinker': true
		});
		ga('require', 'linker');
		ga('linker:autoLink', ['goocreate.com', 'gooengine.com']);
		ga('send', 'pageview');
	</script>
</head>
<body>

{{! CONTENT }}
{{#classes}}
<article>
	{{! title and description }}
	<section class="header">
		<h1>
		<a
			id="{{constructor.name}}"
			class="{{#constructor.comment.deprecated}}deprecated{{/constructor.comment.deprecated}}"
			href="#{{constructor.name}}"
			class-name="{{constructor.name}}"
		>
			{{constructor.name}}
		</a>

			{{#constructor.comment.extends}}
				<span class="extends">extends
					<a href="#{{constructor.comment.extends.base}}">
						{{constructor.comment.extends.base}}
					</a>
				</span>
			{{/constructor.comment.extends}}
		</h1>
		<span class="path">goo/{{requirePath}}</span>
		<div class="class-description roboto">
			<div>{{{constructor.comment.description}}}</div>

			{{#constructor.comment.exampleLink}}
				<div>Example: <a class="example-link" href="{{link}}" target="_blank">{{text}}</a></div>
			{{/constructor.comment.exampleLink}}

			{{#constructor.comment.example}}
				<pre><code class="javascript">{{.}}</code></pre>
			{{/constructor.comment.example}}

			{{#constructor.comment.deprecated}}
				<div class="deprecated-description"><span class="icon-warning"></span>{{{description}}}</div>
			{{/constructor.comment.deprecated}}
		</div>
	</section>

	{{! constructor }}
	{{#constructor.comment}}
		<section>
			<span class="method-name">constructor</span>
			 :: (
			{{#constructor.params}}
				<span class="parameter">{{.}}</span>
			{{/constructor.params}}
			)
			{{#comment.returns}} -> <span class="parameter-type">{{{type}}}</span>{{/comment.returns}}

			<div class="comment">
				{{#param}}
					<div class="parameter-doc">
						<span class="parameter-name">{{name}}</span>
						{{#type}} :: <span class="parameter-type">{{{.}}}</span>{{/type}}
						{{#optional}}<span class="parameter-optional">optional</span>{{/optional}}
						{{#default_}}<span class="parameter-default">default = {{.}}</span>{{/default_}}
						<span class="parameter-description">{{{description}}}</span>
					</div>
				{{/param}}
			</div>
		</section>
	{{/constructor.comment}}

	{{! members }}
	{{#hasMembers}}
		<section>
			<h2>Members</h2>

			{{#members}}
				<div>
					<a
						class="method-name"
						id="_mbr_{{../constructor.name}}_{{name}}"
						href="#_mbr_{{../constructor.name}}_{{name}}"
					>
						<span class="{{#comment.deprecated}}deprecated{{/comment.deprecated}}">{{name}}</span><!--
					--></a>
					{{#comment.type}} :: <span class="parameter-type">{{{type}}}</span>{{/comment.type}}
					{{#comment.readonly}}<span class="readonly">readonly</span>{{/comment.readonly}}
					{{#comment.default_}}<span class="parameter-default">default = {{default_}}</span>{{/comment.default_}}
					<span class="parameter-description">{{{comment.description}}}</span>
				</div>

				{{#comment.deprecated}}
					<div class="deprecated-description"><span class="icon-warning"></span>{{{description}}}</div>
				{{/comment.deprecated}}
			{{/members}}

			{{#constructor.comment.property}}
				<div>
					<a
						class="method-name"
						id="_mbr_{{../constructor.name}}_{{name}}"
						href="#_mbr_{{../constructor.name}}_{{name}}"
					>
						<span>{{name}}</span><!--
					--></a>
					{{#type}} :: <span class="parameter-type">{{{.}}}</span>{{/type}}
					{{#optional}}<span class="parameter-optional">optional</span>{{/optional}}
					{{#default_}}<span class="parameter-default">default = {{.}}</span>{{/default_}}
					<span class="parameter-description">{{{description}}}</span>
				</div>
			{{/constructor.comment.property}}

		</section>
	{{/hasMembers}}


	{{! static members }}
	{{#hasStaticMembers}}
		<section>
			<h2>Static members</h2>

			{{#staticMembers}}
				<div>
					<a
						class="method-name"
						id="_smbr_{{../constructor.name}}_{{name}}"
						href="#_smbr_{{../constructor.name}}_{{name}}"
					>
						<span class="{{#comment.deprecated}}deprecated{{/comment.deprecated}}">{{name}}</span><!--
					--></a>
					{{#comment.type}} :: <span class="parameter-type">{{{type}}}</span>{{/comment.type}}
					{{#comment.readonly}}<span class="readonly">readonly</span>{{/comment.readonly}}
					{{#comment.default_}}<span class="parameter-default">default = {{default_}}</span>{{/comment.default_}}
					<span class="parameter-description">{{{comment.description}}}</span>
				</div>

				{{#comment.deprecated}}
					<div class="deprecated-description"><span class="icon-warning"></span>{{{description}}}</div>
				{{/comment.deprecated}}
			{{/staticMembers}}
		</section>
	{{/hasStaticMembers}}


	{{! instance methods }}
	{{#hasMethods}}
		<section>
			<h2>Instance methods</h2>

			{{#methods}}
				<div class="bottom-30">
					{{#comment.virtual}}
						<span class="icon-warning-gray virtual roboto"> virtual</span>
					{{/comment.virtual}}
					<a
						class="method-name"
						id="_met_{{../constructor.name}}_{{name}}"
						href="#_met_{{../constructor.name}}_{{name}}"
					>
						<span class="{{#comment.deprecated}}deprecated{{/comment.deprecated}}">{{name}}</span><!--
					--></a> :: (
					{{#params}}
						<span class="parameter">{{.}}</span>
					{{/params}}
					)
					{{#comment.returns}} -> <span class="parameter-type">{{{type}}}</span>{{/comment.returns}}

					<div class="comment">
						<span class="description">{{{comment.description}}}</span>

						{{#comment.deprecated}}<div class="deprecated-description"><span class="icon-warning"></span>{{{description}}}</div>{{/comment.deprecated}}
						{{#comment.param}}
							<div class="parameter-doc">
								<span class="parameter-name">{{name}}</span>
								{{#type}} :: <span class="parameter-type">{{{.}}}</span>{{/type}}
								{{#optional}}<span class="parameter-optional">optional</span>{{/optional}}
								{{#default_}}<span class="parameter-default">default = {{.}}</span>{{/default_}}
								<span class="parameter-description">{{{description}}}</span>
							</div>
						{{/comment.param}}

						{{#comment.exampleLink}}
							<div class="roboto">Example: <a class="example-link" href="{{link}}" target="_blank">{{text}}</a></div>
						{{/comment.exampleLink}}

						{{#comment.example}}
							<pre><code class="javascript">{{.}}</code></pre>
						{{/comment.example}}
					</div>
				</div>
			{{/methods}}

		</section>
	{{/hasMethods}}

	{{! static methods }}
	{{#hasStaticMethods}}
		<section>
			<h2>Static methods</h2>

			{{#staticMethods}}
				<div>
					<a
						class="method-name"
						id="_smet_{{../constructor.name}}_{{name}}"
						href="#_smet_{{../constructor.name}}_{{name}}"
					>
						<span class="{{#comment.deprecated}}deprecated{{/comment.deprecated}}">{{name}}</span><!--
					--></a> :: (
					{{#params}}
						<span class="parameter">
							{{.}}
						</span>
					{{/params}}
					)
					{{#comment.returns}} -> {{{type}}}{{/comment.returns}}

					<div class="comment">
						<span class="description">{{{comment.description}}}</span>
						{{#comment.deprecated}}<div class="deprecated-description"><span class="icon-warning"></span>{{{description}}}</div>{{/comment.deprecated}}
						{{#comment.param}}
							<div class="parameter-doc">
								<span class="parameter-name">{{name}}</span>
								{{#type}} :: <span class="parameter-type">{{{.}}}</span>{{/type}}
								{{#optional}}<span class="parameter-optional">optional</span>{{/optional}}
								{{#default_}}<span class="parameter-default">default = {{.}}</span>{{/default_}}
								<span class="parameter-description">{{{description}}}</span>
							</div>
						{{/comment.param}}

						{{#comment.exampleLink}}
							<a class="example-link" href="{{link}}" target="_blank">{{text}}</a>
						{{/comment.exampleLink}}

						{{#comment.example}}
							<pre><code class="javascript">{{.}}</code></pre>
						{{/comment.example}}
					</div>
				</div>
			{{/staticMethods}}

		</section>
	{{/hasStaticMethods}}
</article>
{{/classes}}

{{! FOOTER }}
<!--<script>window.parent.history.replaceState('Object', 'Title', 'index.html?c={{constructor.name}}');</script>-->
<script src="lib/jquery-2.1.1.min.js"></script>
<script src="class.js"></script>
<script src="lib/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- generated with modoc - the gooengine documentation system -->

</body>
</html>