<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Goo Engine Documentation</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="lib/styles/goo.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>

{{! SIDEBAR }}
<nav>
	<section>
		<h1>Goo Docs</h1>
		<a class="link" href="changelog.html">Read the Changelog</a>
	</section>
	<section>
		<input id="search" type="text" placeholder="Start typing to search...">
	</section>

	<div class="index-container">
		<ul>
		{{#index}}
			<div class="top-dir">{{name}}</div>
				<ul>
					{{#classes}}
					<li class="item {{#current}}active{{/current}}">
						<a href="{{{link}}}">{{name}}</a>
					</li>
					{{/classes}}
				</ul>
		{{/index}}
		</ul>
	</div>
</nav>

{{! CONTENT }}
<article>
{{#class}}
	{{! title and description }}
	<section class="header">
		<h1>
			<span class="{{#constructor.comment.deprecated}}deprecated{{/constructor.comment.deprecated}}">
				{{constructor.name}}
			</span>

			{{#constructor.comment.extends}}
			<span class="extends">extends
				<a href="{{constructor.comment.extends.base}}-doc.html">
					{{constructor.comment.extends.base}}
				</a>
			</span>
			{{/constructor.comment.extends}}
		</h1>
		<span class="path">goo/{{path}}</span>
		<div class="class-description roboto">
			<div>{{{constructor.comment.description}}}</div>

			{{#constructor.comment.exampleLink}}
			<div>Example: <a class="example-link" href="{{link}}">{{text}}</a></div>
			{{/constructor.comment.exampleLink}}

			{{#constructor.comment.deprecated}}
			<div class="deprecated-description"><span class="icon-warning"></span>{{{description}}}</div>
			{{/constructor.comment.deprecated}}
		</div>
	</section>

	{{! members }}
	{{#hasMembers}}
	<section>
		<h2>Members</h2>

		{{#members}}
		<div>
			<a id="{{name}}" href="#{{name}}">
				<span class="method-name {{#comment.deprecated}}deprecated{{/comment.deprecated}}">{{name}}</span>
			</a>
			{{#comment.type}} :: <span class="parameter-type">{{{type}}}</span>{{/comment.type}}
			{{#comment.readonly}}<span class="readonly">readonly</span>{{/comment.readonly}}
			{{#comment.default_}}<span class="parameter-default">default = {{default_}}</span>{{/comment.default_}}
			<span class="parameter-description">{{{comment.description}}}</span>
		</div>

		{{#comment.deprecated}}
		<div class="deprecated-description"><span class="icon-warning"></span>{{{description}}}</div>
		{{/comment.deprecated}}
		{{/members}}

		{{#constructor.comment.property}}
		<div>
			<a id="{{name}}" href="#{{name}}">
				<span class="method-name">{{name}}</span>
			</a>
			{{#type}} :: <span class="parameter-type">{{{.}}}</span>{{/type}}
			{{#optional}}<span class="parameter-optional">optional</span>{{/optional}}
			{{#default_}}<span class="parameter-default">default = {{.}}</span>{{/default_}}
			<span class="parameter-description">{{{description}}}</span>
		</div>
		{{/constructor.comment.property}}

	</section>
	{{/hasMembers}}

	{{! instance methods }}
	{{#hasMethods}}
	<section>
		<h2>Instance methods</h2>

		{{#methods}}
		<div class="bottom-30">
			<a id="{{name}}" href="#{{name}}">
			<span class="method-name {{#comment.deprecated}}deprecated{{/comment.deprecated}}">{{name}}</span>
			</a> :: (
			{{#params}}
			<span class="parameter">{{.}}</span>
			{{/params}}
			)
			{{#comment.returns}} -> <span class="parameter-type">{{{type}}}</span>{{/comment.returns}}

			<div class="comment">
				<span class="description">{{{comment.description}}}</span>

				{{#comment.deprecated}}<span class="deprecated-description">{{{description}}}</span>{{/comment.deprecated}}
					{{#comment.param}}
					<div class="parameter-doc">
						<span class="parameter-name">{{name}}</span>
						{{#type}} :: <span class="parameter-type">{{{.}}}</span>{{/type}}
						{{#optional}}<span class="parameter-optional">optional</span>{{/optional}}
						{{#default_}}<span class="parameter-default">default = {{.}}</span>{{/default_}}
						<span class="parameter-description">{{{description}}}</span>
					</div>
					{{/comment.param}}

					{{#comment.exampleLink}}
					<div class="roboto">Example: <a class="example-link" href="{{link}}">{{text}}</a></div>
					{{/comment.exampleLink}}

					{{#comment.example}}
					<pre><code class="javascript">{{.}}</code></pre>
					{{/comment.example}}
				</div>
		</div>
		{{/methods}}

	</section>
	{{/hasMethods}}

	{{! static methods }}
	{{#hasStatics}}
	<section>
		<h2>Static methods</h2>

		{{#statics}}
		<div>
			<a id="{{name}}" href="#{{name}}">
			<span class="method-name {{#comment.deprecated}}deprecated{{/comment.deprecated}}">{{name}}</span>
			</a> :: (
			{{#params}}
			<span class="parameter">
				{{.}}
			</span>
			{{/params}}
			)
			{{#comment.returns}} -> {{{type}}}{{/comment.returns}}

			<div class="comment">
				<span class="description">{{{comment.description}}}</span>
				{{#comment.deprecated}}<span class="deprecated-description">{{{description}}}</span>{{/comment.deprecated}}
				{{#comment.param}}
				<div class="parameter-doc">
					<span class="parameter-name">{{name}}</span>
					{{#type}} :: <span class="parameter-type">{{{.}}}</span>{{/type}}
					{{#optional}}<span class="parameter-optional">optional</span>{{/optional}}
					{{#default_}}<span class="parameter-default">default = {{.}}</span>{{/default_}}
					<span class="parameter-description">{{{description}}}</span>
				</div>
				{{/comment.param}}

				{{#comment.exampleLink}}
					<a class="example-link" href="{{link}}">{{text}}</a>
				{{/comment.exampleLink}}

				{{#comment.example}}
				<pre><code class="javascript">{{.}}</code></pre>
				{{/comment.example}}
			</div>
		</div>
		{{/statics}}

	</section>
	{{/hasStatics}}

{{/class}}
</article>

<!-- FOOTER -->
<script src="lib/jquery-2.1.1.min.js"></script>
<script src="lib/purl.js"></script>
<script src="search.js"></script>
<script src="lib/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>